.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.subTitleText {
  max-width: 600px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.main {
  padding-top: 80px;
  max-width: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* project element styles */

.projectElement {
  margin-bottom: 150px;
  display: flex;
  overflow: hidden;
  z-index: 999;
}

.projectElementReverse {
  flex-direction: row-reverse;
}

.projectTextWrap {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.projectTextWrapReverse {
  margin-right: 0;
}

.projectTitle {
  margin-bottom: 30px;
  font-size: 24px;
}

.projectText {
  margin-bottom: 30px;
  font-size: 18px;
}

.projectLinks {
  display: flex;
  list-style: none;
}

.projectlink {
  margin-right: 25px;
}

.projectImgWrap {
}

.projectImgWrapReverse {
  margin-right: 60px;
}

.projectImg {
  width: 500px;
  height: 235px;
  background: #fff;
  color: #000;
}

@media screen and (max-width: 970px) {
  .projectElement {
    flex-direction: column-reverse;
  }

  .projectTextWrap {
    margin-right: 0;
  }

  .projectImgWrap {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .projectImgWrapReverse {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .projectImg {
    width: 100%;
  }
}
