.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.subTitleText {
  max-width: 600px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.main {
  padding-top: 30px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px;
  width: 100%;
  min-height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000070;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.nameEmailInput,
.subjectInput,
.messageInput {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  color: #8d8d8d;
  font-size: 16px;
  transition: all 0.4s ease;
  font-family: 'Mulish', sans-serif;
}

.nameEmailInput:focus,
.subjectInput:focus,
.messageInput:focus {
  /* border-color: #7f0931;
  color: #7f0931; */
  border-color: #7f0931;
  outline: #000;
}

.nameEmailInput::placeholder,
.subjectInput::placeholder,
.messageInput::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.nameEmailWrap {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nameEmailInput {
  width: 49%;
  height: 50px;
  padding: 0 20px;
}

.subjectInput {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}
.messageInput {
  width: 100%;
  max-width: 100%;
  min-height: 180px;
  padding: 20px;
}
.buttonWrap {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.formButton {
  padding: 15px 30px;
  width: 155px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  border: 1px solid #7f0931;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formButton::before {
  content: '';
  background: #7f0931;
  position: absolute;
  height: 0%;
  top: 50%;
  right: 0;
  width: 100%;
  transition: 0.2s ease;
  z-index: -1;
}

.formButton:hover:before {
  height: 100%;
  top: 0;
  right: 0;
}

.successMessage {
  margin-left: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .successMessage {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .nameEmailWrap {
    flex-direction: column;
  }

  .nameEmailInput {
    width: 100%;
  }
  .nameEmailInput:first-of-type {
    margin-bottom: 10px;
  }
}
