.container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 2vw 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  max-width: 400px;
}

.title {
  font-size: 6.5rem;
  color: #fff;
  margin: 20px 0 20px 0;
}

.nav{
display: flex;
flex-direction: column;

}

.list{
  max-width: 500px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  list-style: none;
}

.listElement{
font-size: 30px;
color: #fff;

}

.listElement:hover {
  color: rgb(142, 141, 146);
  transform: translateX(10px);
  transition: transform .3s ease, color .4s ease;
}

.externalList{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.externalElement{
font-size: 25px;
color: #fff;
}


.singleLetter {
  display: inline-block;
  color: #fff;
}

.pictureDot{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.frontendText{
  /* color: rgba(113,111,119); */
  color: rgb(142, 141, 146);
}

.frontendText:hover,
.singleLetter:hover ~ .frontendText {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  animation: shine 1.5s infinite;
}

.frontendText {
display: flex;
font-size: 2rem;
}



@keyframes shine {
  from {
    mask-position: 150%;
  }
  
  to {
    mask-position: -50%;
  }
}